<h2>Cadastrar Cliente</h2>

<form method="POST" action="/cliente/cadastrar">
    <label>Nome</label>
    <input type="text" name="nome" placeholder="Ex: João Silva">

    <label>Telefone</label>
    <input type="text" name="telefone" placeholder="Ex: (11) 99999-9999">

    <button type="submit">Salvar</button>
</form>
