<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/detalharCliente.css">
    <title>Checagem de informações</title>
</head>
<body>
    <h1>Detalhes do Cliente</h1>

     <nav class="navegation">
      
      <a href="/">Home</a>
      <a href="/desenvolvedores">Desenvolvedores</a>
      <a href="https://github.com/ArturTome/Restaurante-ATV-Dev.-Web-4-unidade">Projeto</a>
     </nav>


<div class="formato">
    <ul>
        <li><b>ID:</b> {{cliente.id}}</li>
        <li><b>Nome:</b> {{cliente.nome}}</li>
        <li><b>Telefone:</b> {{cliente.telefone}}</li>
        <li><b>Email:</b> {{cliente.email}}</li>
</ul>
</div>

<a href="/cliente" class="voltar">Voltar</a>
</body>
</html>


