<h2>Editar Cliente</h2>

<form method="POST" action="/cliente/editar/{{cliente.id}}">
    <label>Nome</label>
    <input type="text" name="nome" value="{{cliente.nome}}" placeholder="Nome completo">

    <label>Telefone</label>
    <input type="text" name="telefone" value="{{cliente.telefone}}" placeholder="Telefone do cliente">

    <button type="submit">Salvar Alterações</button>
</form>
