<h1>Bem-vindo ao Sistema de Reservas</h1>
<nav>

// feito pelo chat gpt, place holder


  <ul>
    <li><a href="/cliente">Gerenciar Clientes</a></li>
    <li><a href="/mesa">Gerenciar Mesas</a></li>
    <li><a href="/reserva">Gerenciar Reservas</a></li>
  </ul>
</nav>
