<h1>Cadastrar Cliente</h1>

<form action="/cliente/cadastrar" method="POST">
  <label>Nome:</label>
  <input type="text" name="nome" required><br>
  
  <label>Telefone:</label>
  <input type="text" name="telefone"><br>
  
  <label>Email:</label>
  <input type="email" name="email"><br>

  <button type="submit">Cadastrar</button>
</form>

<a href="/cliente">Voltar</a>
