<h1>Editar Cliente</h1>

<form action="/cliente/{{cliente.id}}/editar" method="POST">
  <label>Nome:</label>
  <input type="text" name="nome" value="{{cliente.nome}}" required><br>

  <label>Telefone:</label>
  <input type="text" name="telefone" value="{{cliente.telefone}}"><br>

  <label>Email:</label>
  <input type="email" name="email" value="{{cliente.email}}"><br>

  <button type="submit">Salvar Alterações</button>
</form>

<a href="/cliente">Voltar</a>
