<h2>Cadastrar Mesa</h2>

<form method="POST" action="/mesa/cadastrar">
    <label>Número da Mesa</label>
    <input type="number" name="numero" placeholder="Ex: 12">

    <label>Capacidade</label>
    <input type="number" name="capacidade" placeholder="Ex: 4">

    <button type="submit">Salvar</button>
</form>
