@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@400;700&display=swap');

body{
    background-color: #1a1110;
    
}
form{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 13px;
    width: 18%;   
    height: 40vh;
    margin: 20px auto;        
    padding: 30px 40px;   
    border: 3px solid hsl(0,0%,100%,0.3);
    background: hsl(0,0%, 100%, 0.2);
    backdrop-filter: blur(9px);
}
h1{
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(222, 222, 236), rgb(203, 187, 187), rgb(209, 223, 255) );
    background-clip: text;
    color: transparent;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    font-family: "Playwrite CU", cursive;
}
.formato{
    border-radius: 13px;
    width: 30%;   
    margin: 20px auto;        
    padding: 30px 40px;   
    box-shadow: 0 0 10px silver,0 0 10px gray;
    z-index: 2;
    margin-top:50px;
}
li{
    color:white;
    font-size:20px;
    text-align: justify;
    margin-bottom: 10px;
}

.voltar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 8%;
    left: 2%;
    font-family: monospace;
    background-color: white;
    font-size: 20px;
    width: 8vw;
    height: 7vh;
    border: 2px solid burlywood;
    border-radius: 10px;
    color: burlywood;
    text-decoration: none;
    background-color:#3B2A27;
    transition: 0.4s ease;
}
.voltar:hover{
    background-color: #4A3A36;
}