@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@400;700&display=swap');
body{
    margin: 0;
    background-color: #1A1110;
}

.cima{
    background-image: url(/imagens/cima.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
    height: 40vh;
    width: 100%;
    filter: blur(2px);
    z-index: 0;

}
.titulo{
    color: white;
    font-family: "Playwrite CU", cursive;
    position: absolute;
    left: 5%;
    top:10%;
    z-index: 1;
}
.formato{
    display: flex;
    gap:300px;
    justify-content: center;
    align-items: flex-end;
    height: 40vh;
    margin-bottom: 120px;
    z-index: 2;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7em;
    padding: 0.5em;
    border-radius: 1em;
    width:10vw;
    height:30vh;
    border: 3px solid hsl(0,0%,100%,0.3);
    background: hsl(0,0%, 100%, 0.2);
    backdrop-filter: blur(2px);
    font-size: larger;
    transition: 0.5s ease;

}
a{
    text-decoration: none;
    color: white;
}
.card>img{
    height: auto;
    width: 3vw;
}
.card:hover{
    background:hsla(34, 57%, 70%, 0.2);
    transform: translateY(-3vh) translateX(1vw);
}
.stitulo{
    color: rgb(128, 196, 255);
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', sans-serif;
    margin-top: 5%;
}
.navegation{
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    gap: 10px;
    z-index: 2;
    border-bottom: 1px solid rgb(255, 255, 255);
    border-left: 1px solid white ;
    border-radius: 10px;
}
nav>a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin-left: 10px;
    transition: 0.5s ease;
    border-radius: 10px;
}
nav>a:hover{
    transform: scale(1.1);
    color: rgb(240, 147, 147);
}