<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reservation Management System</title>
  <link rel="stylesheet" href="/css/home.css">
</head>
<body>
 

 
 <div class="cima"></div>



<h1 class="stitulo">Opções de Gerenciamento</h1>
  <div class="formato">
     <h1 class="titulo">Reservation Management System</h1>

     <nav class="navegation">
      
      <a href="/">Home</a>
      <a href="/desenvolvedores">Desenvolvedores</a>
      <a href="https://github.com/ArturTome/Restaurante-ATV-Dev.-Web-4-unidade">Projeto</a>
     </nav>

    <a href="/cliente" class="card a">
        <img src="/imagens/person.png" alt="melhora a internet">
        <span>Gerenciar clientes</span>
    </a>
    
    <a href="/mesa" class="card b">
      <img src="/imagens/mesa.png" alt="">
        <span>Gerenciar Mesas</span>
    </a>
    

    <a href="/reserva" class="card c">
      <img src="/imagens/calendar.png" alt="" >
      <span>Gerenciar Reservas</span>
    </a>
</div>


</body>
</html>


