<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

// Place Holder

<header>
    <h1>Sistema de Reservas</h1>
    <nav>
        <a href="/listar">Listar</a>
        <a href="/cadastrar">Cadastrar</a>
    </nav>
</header>

<main>
    {{{body}}}
</main>

<footer>
    <p>© 2025 - Sistema de Reservas</p>
</footer>

</body>
</html>
